<h1>Weather App</h1>
<h6 class="text-secondary">App enables us to view the weather of a city</h6>

<label for="city name" class="p-3">City:</label>
<input type="text" [(ngModel)]="city"><button class="btn btn-primary ml-1" (click)="getWeather()">Submit</button>
<div *ngIf="error" class="alert alert-danger col-8">{{error}}</div>
<div *ngIf="weather.name" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{weather.name}},{{weather.country}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Temperature</h6>
    <p class="card-text">Wind Speed: {{weather.windSpeed}}</p>
    <p class="card-text">Temprature: {{weather.temp - 273.15 | number}} &#8451;</p>
    <p class="card-text">Humidity: {{weather.humidity}}%</p>
    <p class="card-text">Geo coords [{{weather.lat}}, {{weather.long}}]</p>
    
  </div>
</div>